body {
    width: 100%;
    height: 100vh;
    font-family: 'Russo One', sans-serif;
  }
  
  .animation-wrapper {
    width: 50%;
    padding-bottom: 50%;
  }
  
  .sphere-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 580px;
    height: 580px;
    margin: -290px 0 0 -290px;
  }
  
  .sphere path {
    fill: url(#sphereGradient);
    stroke-width: 1px;
    stroke: rgba(80,80,80,.35);
    backface-visibility: hidden;
  }
  
  @media (min-width: 500px) {
    .sphere path {
      stroke-width: .4px;
    }
  }



.wrapper {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  z-index: 999;
}


  body{
    background-color: rgb(54, 54, 54);
}

.sidodgi_duboshit
{
max-width: 800px;
margin: 0 auto;
display: flex;
justify-content: center;
flex-direction: column;
}

nav     
{
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 15px;
margin-bottom: 15px;
}

img
{
    width: 80px;
    height: auto;
}

input
{
    width: 70%;
    border-radius: 3px;
    background: linear-gradient(to right, red, blue);
    border: none;
}

input::placeholder {
    color: white;
    padding: 10px;
}
.spisochek{   
 display: flex;
 justify-content: center;
 width: 100%;
 margin-bottom: 30px    ;
}

.spisochek li {
    padding-right: 40px;
}


li:hover
{
    color: crimson;
}

ul, li 
{
    list-style: none;
}

a
{
    text-decoration: none;
    color: crimson;
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Name{  
    transition: all 1s ease-in-out;
    margin: 0 auto;
    font-size: 50px;
    border: 4px solid crimson;
   
    border-radius: 10px;

    margin-bottom: 10px;

    
}
.Name:hover{
    box-shadow: -2px -2px 67px -8px rgba(255, 34, 0, 0.94);
}
section{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;

}
section .LeftMenu ul li 
{
    margin-bottom: 10px;
}

.border {
    border: 4px solid crimson;
    border-radius: 10px;
    border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
    transition: all 1s ease-in-out;
}
.border:hover{
    box-shadow: 36px 0px 8px 0px rgba(255, 0, 0, 0.77), -36px 0px 8px 0px rgba(255, 0, 0, 0.77);
}

.Right img{
    height: 100px;
    width: auto;
    transition: all .5s ease-in-out;
}
.Right img:hover{
    height: 150px;
    width: auto;
}

li, p, header {
  color: red !important;
}